<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/8c9303bf8c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="intro-con">
                <div class="intro-top">
                    <h1 id="logo">
                        <img src="/images/emblem.png" alt="로고1" class="logo-top">
                        <img src="/images/emblem_text.png" alt="로고2" class="logo-bottom">
                    </h1>

                    <form class="search-box" action="" method="post">
                        <input class="search-txt" type="text" name="" placeholder="원하시는 민원 사례를 검색해 보세요.">
                        <button class="search-btn" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="intro-info">
					<div class="gchome">
						<a href="/minwon/info">
							<div class="gchome-con">
								<div class="ico"><img src="/images/home_ico.png" alt=""></div>
								<span>짱쉬운민원<br>서류작성 도우미</span>
								<div class="button">바로가기</div>
							</div>
							<div class="gnare"><img src="/images/g_nare.png" alt=""></div>
						</a>
					</div>
                    <div class="intro-info-right">
                        <div class="intro-right-links">
                            <a href="">
                                <div class="ico depart">
                                    <img src="/images/depart_ico.png" alt="부서안내 아이콘">
                                </div>
                                <span>부서안내</span>
                            </a>
                            <a href="" target="_blank" title="새창 열림">
                                <div class="ico kakao">
                                    <img src="/images/kakao_ico.png" alt="카카오 아이콘">
                                </div>
                                <span>노원민원톡톡</span>
                            </a>
                        </div>
                        <div class="notice-box">
                            <h3>공지사항</h3>
                            <ul>
                                <li><a href="#">[공지] 1번</a></li>
                                <li><a href="#">[안내] 2번</a></li>
                                <li><a href="#">[알림] 3번</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="intro-extra">
                        <!-- 왼쪽: 자주찾는 민원 -->
                        <div class="category-box">
                            <h3>자주찾는 민원</h3>
                            <div class="cat-grid">
                            <div class="slot"><span>등초본</span></div>
                            <div class="slot"><span>여권 (재)발급</span></div>
                            <div class="slot"><span>가족관계증명</span></div>
                            <div class="slot"><span>전입신고</span></div>
                            <div class="slot"><span>인감증명서</span></div>
                            <div class="slot"><span>옆에 보험사이트 주소받아서 광고해주기</span></div>
                            </div>
                        </div>

                        <div class="chatbot-box">
                            <h3>상담 챗봇</h3>
                            <div class="ico number">
                                <button id="winging-chatbot-button" style="position:relative">
                                    <img id="winging-chatbot-icon" src="/images/geumnarae_5.png">
                                </button>
                            </div>
                        </div>
                        
                        <div class="benner">
                            <div class="slider" id="banner-slider">
                                
                                <div class="slides">
                                    <div class="slide"><img src="/images/banner_1.png" alt="배너1"></div>
                                    <div class="slide"><img src="/images/banner_1.png" alt="배너2"></div>
                                    <div class="slide"><img src="/images/banner_1.png" alt="배너3"></div>
                                </div>

                                <button class="nav prev" aria-label="이전">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>

                                <button class="nav next" aria-label="다음">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                                
                                <div class="dots"></div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <address>[01689] 서울시 노원구 노해로 437(상계동)<br>
                TEL 02-2116-3114 (120 다산콜센터로 연결) | 02-2116-3000,3301 (야간,공휴일/당직실)FAX 02-2116-4666<br>
                COPYRIGHT ⓒ NOWON-GU OFFICE ALL RIGHT RESERVED</address>
            </div>
    <script src="/js/main.js">
    </script>
</body>
</html>